:root {
  background-color: transparent;
  font-family: Quicksand;
}

.toolbar menubar svg {
  fill: gold;
}

.toolbar button {
  font-size: 14;
  height: 80%;
  background-color: transparent;
  transition: background-color 125ms;
}

.toolbar .menubutton:hover {
  background-color: #77777722;
  transition: background-color 125ms;
}

.toolbar .menubutton:checked {
  background-color: #77777777;
  transition: background-color 125ms;
}

.toolbar button.exit svg {
  fill: red;
}

.toolbar button.exit {
  background-color: rgba(255, 100, 100, 0.3);
  corner-radius: 3px;
  height: 80%;
  padding-left: 2px;
  padding-right: 2px;
}

button {
  border: none;
}
