:root {
    background-color: transparent;
    font-family: Quicksand;
}

button.std-btn {
    background-color: transparent;
    transition: background-color 125ms;
}

button.std-btn:hover {
    background-color: #77777722;
    transition: background-color 125ms;
}

button.std-btn:active {
    background-color: #77777777;
    transition: background-color 125ms;
}

.toolbar .menubutton popup {
    padding: 0px;
    border-color: #444444;
}

.toolbar .menubutton menubutton .inner {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.toolbar .menubutton menubutton:hover .inner {
    background-color: #77777722;
    transition: background-color 125ms;
}

.toolbar .menubutton menubutton:active .inner {
    background-color: #77777777;
    transition: background-color 125ms;
}

.toolbar submenu.menubutton:hover {
    background-color: #77777722;
    transition: background-color 125ms;
}

.toolbar submenu.menubutton:checked {
    background-color: #77777777;
    transition: background-color 125ms;
}

.toolbar button.exit svg {
    fill: #ff0000;
}

.toolbar button.exit {
    background-color: #ff64644d;
    corner-radius: 3px;
    height: 80%;
    padding-left: 2px;
    padding-right: 2px;
}

button {
    border: none;
}

.toolbar button.error-tag {
    background-color: transparent;
    color: #9a9a9a44;
    height: 80%;
    corner-radius: 3px;
    padding-left: 2px;
    padding-right: 4px;
}

.toolbar button.error-tag svg {
    fill: #9a9a9a44;
}

.toolbar button.error-tag-warn {
    color: #fffb55;
    shadow: 0px 0px 3px #fffb55;
}

.toolbar button.error-tag-warn svg {
    fill: #fffb55;
}

.toolbar button.error-tag-error {
    color: #ff0055;
    shadow: 0px 0px 6px #ff0055;
}

.toolbar button.error-tag-error svg {
    fill: #ff0055;
}

togglebuttonpanel .bg {
    left: 0%;
    transition: left 250ms cubic-bezier(0.023, 0.669, 0.332, 0.992);
}

togglebuttonpanel .bg.right {
    left: 50%;
    transition: left 250ms cubic-bezier(0.023, 0.669, 0.332, 0.992);
}

textbox:checked.caret {
    caret-color: gold;
}

.error-svg {
    fill: #ff0055;
}

.warning-svg {
    fill: #fffb55;
}

.success-svg {
    fill: #55ff58;
}

.info-svg {
    fill: #5590ff;
}

.thumbnail-img {
    background-size: contain;
    width: 256px;
    height: 144px;
}

.task-submit-btn .task-submit-btn-panel {
    opacity: 0;
    border: 2px transparent solid;
    transition: border 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
}

.task-submit-btn:hover .task-submit-btn-panel {
    opacity: 1;
    border: 2px transparent solid;
    transition: border 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
}

.task-submit-btn:active .task-submit-btn-panel {
    border: 1.5px gold solid;
}

.task-submit-btn svg {
    opacity: 0;
    rotate: 300deg;
    scale: 0.8 0.8;
    transition: scale 400ms ease-in-out;
    transition: rotate 400ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

.task-submit-btn:hover svg {
    opacity: 1;
    rotate: 360deg;
    scale: 1 1;
    transition: scale 400ms ease-in-out;
    transition: rotate 400ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

.task-submit-btn:active svg {
    opacity: 1;
    rotate: 360deg;
    scale: 0.9 0.9;
    transition: scale 5ms ease-in-out;
    transition: rotate 5ms ease-in-out;
    transition: opacity 5ms ease-in-out;
}

.dropdown-btn {
    background-color: transparent;
}

.dropdown-btn:hover {
    background-color: #44444422;
}

.dropdown-btn:active {
    background-color: #44444444;
}

/* Collapsible */

collapsible > .header {
    gap: 1s;
    min-gap: 16px;
    height: 32px;
    alignment: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    transition: height 300ms;
    transition: background-color 100ms;
}

collapsible > .header:hover {
    background-color: #77777722;
    transition: background-color 100ms;
}

collapsible.open > .header {
    height: 40px;
    background-color: #77777777;
    transition: height 300ms;
    transition: background-color 100ms;
}

collapsible > .header > .expand-icon {
    size: 20px;
    rotate: 0deg;
    transition: rotate 300ms;
}

collapsible.open > .header > .expand-icon {
    rotate: 180deg;
    transition: rotate 300ms;
}

collapsible .content {
    height: auto;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 300ms;
    padding: 10px;
    gap: 16px;
}

collapsible.open .content {
    width: 1s;
    height: auto;
    max-height: auto;
    transition: max-height 300ms;
}

/* Scroll */
.scroll-gap scroll-content {
    gap: 6px;
}

scrollbar.vertical .thumb {
    min-height: 40px;
}