body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

x-menubar {
  width: calc(100% - 2rem);
  margin: 1rem;
  position: fixed;
}

#exit {
  position: absolute;
  right: 0;
}
